
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');

body.login
{
    font-family: 'Cabin Condensed', sans-serif;
    color :white;
    background-image: url("bgb.jpeg");
    background-repeat: no-repeat;
}

.toolbar
{
    background-color: #641E16;
    width: 100%;
    height:30%;
    min-height: 120px;
    color: rgb(248,236,194);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 1em;
}

.toolbar h1{
    text-align: center;
    font-size: 4em;   
}

.all{
    width: 30%;
    margin-top: 100px;
    border-radius: 10px;
    height: 300px;
    min-width: 250px;
    text-align: center;
    background-color: whitesmoke;
}

.left{
    float: left;
    margin-left: 15%;
    padding-top: 5% ;
    font-size: 2em;
    opacity:0.6;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right{
    padding-bottom: 5% ;
    float: right;
    margin-right: 10%;
    opacity:0.6;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right ul{
    font-size: 2em;
    height: 200px;
    list-style-type: none;
}
.right li{
    text-align: center;
    padding: 5% 2.5% 0 0;
}
.right input{
    width: 50%;
    text-align: center;
    font-style: italic;
    padding:1% 2%;
}
.right input:hover{
    border: solid 1px #641E16;
    color:#641E16;
    font-style:none;
}

