/*h1{
    text-align: center;
    font-size: 4em;   
}*/
.all{
    width: 30%;
    margin-top: 100px;
    border: solid greenyellow 1px;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    background-color: whitesmoke;
}

.left{
    float: left;
    margin-left: 20%;
    padding-top: 5% ;
    font-size: 2em;
    /*margin-top: 5em;
    height: 400px;
    border: solid black 1px;
    width:30%;
    text-align: center;*/
}

.right{
    padding-bottom: 5% ;
    float: right;
    margin-right: 10%;
    /*margin-top: 5em;
    width: 30%;
    border: solid black 1px;
    height: 400px;*/
}
ul{
    font-size: 2em;
    /*border: solid black 1px;*/
    height: 200px;
    list-style-type: none;
}
li{
    text-align: center;
    /*margin-left: 10%;*/
    padding: 5% 2.5% 0 0;
    /*width:100%;*/
    
}

input{
    width: 50%;
    text-align: center;
    font-style: italic;
    padding:1% 2%;
}

input:hover{
    border: solid 1px blue;
    color:blue;
    font-style:none;
}