
/* USERSTATS is the box on the side ### */
#userstats{
    position: fixed;
    top: 130px;
    left:50px;
    width: 20%;
    height:500px;
    font-size:.8em;
    color: rgb(0,112,149); /*#0E110F;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;/* #05C884;*/
    opacity: 1;
}
#userstats ul{
    margin-left: -35px;
    list-style-type: none;
}
#userstats li{
    line-height: 1.7em;
}
/*
#userstats li:hover{
    color:black;
}
/* ### USERSTATS ends here ### */

/* ### COURSES TAKEN by the user ### */
.c_taken{
    margin-left:15%;
    margin-top:10%;
    color:black;/*#05C884;*/
}
.c_taken>h2{
    padding-left: 15%;
    font-size: 1.5em;   
    color: black;
}
.c_taken h3{
    font-size: 1.3em;   
    color: black;
}
.c_taken ul{
    margin-left:10%;
    margin-right: 10%;
    height: 200px;
    list-style-type: none;
}
.c_taken li{
    position: relative;
    float:left;
    margin: 3%  2% ;
    width: 30%;
    height: 8em;
    min-width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    opacity:1;
    padding: 5%;
}
.c_taken li:hover{
    opacity:0.9;
}
/* ### COURSES TAKEN ends here ### */

